target/
.settings/
.project
.classpath

build/
bin/
alf_data_dev/

alfresco.log
share.log
javascript-console-repo/javascript-console-repo.iml
javascript-console-share/javascript-console-share.iml
javascript-console.iml
